<div class="row">
    <h1> Welcome to your Blog! </h1>
    <a href="/post"><button type="button" class="btn btn-secondary">Create Post</button></a>
    <div class="dropdown">
      
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Category</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Category1</a>
            <a class="dropdown-item" href="#">Category2</a>
            <a class="dropdown-item" href="#">Category3</a>
        </div>
    </div>
</div>

<div class="row">
    {{#each post}}
    <ul class="row">
        <p>ID: {{this.id}} - - - - -  </p>   
        <p> Category: {{this.category}}</p>
        <button class="delete-btn" data-id={{this.id}}>Delete</button>
        <h3 class="row"> {{this.title}} </h3>
        
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <img class="img1L2" src="{{this.img1}}"/>
                </div>
                <div class="row">
                    <h6 class="row"> {{this.header1}} </h6>
                    <p class="row">
                        {{text1}}
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <h6 class="row"> {{this.sideHead}} </h6>
                    <p class="row"> {{this.sideText}} </p>
                </div>
            </div>

        </div>
    </ul>
    {{/each}}

    {{#each post1}}
    <ul class="row">
        <p>ID: {{this.id}} - - - - -  </p>   
        <p> Category: {{this.category}}</p>
        <button class="delete-btn" data-id={{this.id}}>Delete</button>
        <h3 class="row"> {{title}} </h3>
        
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <h6 class="row"> {{this.header1}} </h6>
                    <p class="row">
                         {{this.text1}} 
                    </p>
                </div>
                <div class="row">
                    <img class="img1L2" src="{{this.img2}}"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <img class="img1L2" src="{{this.img1}}"/>
                </div>
                <div class="row">
                    <h6 class="row"> {{this.header2}} </h6>
                    <p class="row">
                        {{this.text2}}
                    </p>
                </div>
            </div>
        </div>
    </ul>
    {{/each}}
</div>



