<head>

</head>

<body>
    <div class="hero-image">
        <div class="hero-text">
            <h1>Welcome to your blog</h1>
        </div>
    </div>
    <div>
        <div class="row justify-content-center" id="mainbuttons">
            <div class="container">
                <div class="row justify-content-center">
                    {{!-- <h1> Welcome to your Blog! </h1> --}}
                    <a href="/post"><button type="button" class="btn btn-secondary" id="create-btn1">Create
                            Post<span></span></button></a>
                    <div class="dropdown">
                        <button class="btn btn-lg dropdown-toggle btn-primary" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown button
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        
        {{#each post}}
            {{#if isLayout1}}
                <ul class="row">
                    <p>ID: {{this.id}} - - - - - </p>
                    <p> Category: {{this.category}}</p>
                    <button class="delete-btn" data-id={{this.id}}>Delete</button>
                    <h3 class="row"> {{title}} </h3>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <h6 class="row"> {{this.header1}} </h6>
                                <p class="row">
                                    {{this.text1}}
                                </p>
                            </div>
                            <div class="row">
                                <img class="img1L2" src="{{this.img2}}" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <img class="img1L2" src="{{this.img1}}" />
                            </div>
                            <div class="row">
                                <h6 class="row"> {{this.header2}} </h6>
                                <p class="row">
                                    {{this.text2}}
                                </p>
                            </div>
                        </div>
                    </div>
                </ul>
            {{/if}}

            {{#if isLayout2}}
                <ul class="row">
                    <p>ID: {{this.id}} - - - - - </p>
                    <p> Category: {{this.category}}</p>
                    <button class="delete-btn" data-id={{this.id}}>Delete</button>
                    <h3 class="row"> {{this.title}} </h3>

                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <img class="img1L2" src="{{this.img1}}" />
                            </div>
                            <div class="row">
                                <h6 class="row"> {{this.header1}} </h6>
                                <p class="row">
                                    {{text1}}
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <h6 class="row"> {{this.sideHead}} </h6>
                                <p class="row"> {{this.sideText}} </p>
                            </div>
                        </div>

                    </div>
                </ul>
            {{/if}}

            {{#if isLayout3}}
                <ul class="row">
                    <p>ID: {{this.id}} - - - - - </p>
                    <p> Category: {{this.category}}</p>
                    <button class="delete-btn" data-id={{this.id}}>Delete</button>
                    <h3 class="row"> {{this.title}} </h3>
                    <div class="row">
                        <h6 class="row"> {{this.header1}}</h6>
                        <div class="row">
                            <div class="col-md-3">
                                <img class="img1L2" src="{{this.img1}}" />
                            </div>
                            <div class="col-md-9">
                                <p>{{this.text1}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <img class="img1L2" src="{{this.img2}}" />
                            </div>
                            <div class="col-md-9">
                                <p>{{this.text2}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <img class="img1L2" src="{{this.img3}}" />
                            </div>
                            <div class="col-md-9">
                                <p>{{this.text3}}</p>
                            </div>
                        </div>
                    </div>
                        
                </ul>
            {{/if}}
        {{/each}}

    </div>