<head>

</head>

<body>
    <div class="hero-image">
        <div class="hero-text">
            <h1>Welcome to your blog</h1>
        </div>
    </div>
    <div>
        <div class="row justify-content-center" id="mainbuttons">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    {{!-- <h1> Welcome to your Blog! </h1> --}}
                    <a href="/post"><button type="button" class="btn btn-secondary" id="create-btn1">Create
                            Post<span></span></button></a>
                    <nav>
                        <ul>
                            <li>Category
                                <ul class="drop-menu menu-#{i}">
                                    <li><a class="dropdown-item" href="/">See All</a></li>
                                    <li><a class="dropdown-item" href="/category/Personal">Personal</a></li>
                                    <li><a class="dropdown-item" href="/category/Review">Review</a></li>
                                    <li><a class="dropdown-item" href="/category/Political">Political</a></li>
                                    <li><a class="dropdown-item" href="/category/Animals">Animals</a></li>
                                    <li><a class="dropdown-item" href="/category/Beauty">Beauty</a></li>

                                </ul>
                            </li>
                        </ul>
                    </nav>


                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">

        {{#each post}}
        {{#if isLayout1}}
        <ul class="row" id="layoutcon">
            <div class="row" id="layoutbtns">
                <p>ID: {{this.id}} - - - - - </p>
                <p>Category: - </p>
                <p class="categoryH" id="{{this.id}}categoryText">{{this.category}}</p>
                <button class="delete-btn" data-id={{this.id}}>Delete<span></span></button>
                <button class="update-btn" data-id={{this.id}}
                    data-value="{{this.selectedLayout}}">Update<span></span></button>
            </div>
            <h3 class="row" id="{{this.id}}titleText"> {{title}} </h3>

            <div class="row" id="layouttxt">
                <div class="col-md-6">
                    <div class="row">
                        <h6 class="row" id="{{this.id}}header1Text"> {{this.header1}} </h6>
                        <p class="row" id="{{this.id}}text1Text">
                            {{this.text1}}
                        </p>
                    </div>
                    <div class="row">
                        <img class="img1L2" id="{{this.id}}img2Text" src="{{this.img2}}" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <img class="img1L2" id="{{this.id}}img1Text" src="{{this.img1}}" />
                    </div>
                    <div class="row">
                        <h6 class="row" id="{{this.id}}header2Text"> {{this.header2}} </h6>
                        <p class="row" id="{{this.id}}text2Text">
                            {{this.text2}}
                        </p>
                    </div>
                </div>
            </div>
        </ul>
        <div class="row" id="update-div{{this.id}}">
            {{!-- update div generates here  --}}
        </div>
        {{/if}}

        {{#if isLayout2}}
        <ul class="row" id="layoutcon">
            <div class="row" id="layoutbtns">
                <p>ID: {{this.id}} - - - - - </p>
                <p>Category: - </p>
                <p id="{{this.id}}categoryText">{{this.category}}</p>
                <button class="delete-btn" data-id={{this.id}}>Delete<span></span></button>
                <button class="update-btn" data-id={{this.id}}
                    data-value="{{this.selectedLayout}}">Update<span></span></button>
                <h3 class="row" id="{{this.id}}titleText"> {{this.title}} </h3>

                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <img class="img1L2" id="{{this.id}}img1Text" src="{{this.img1}}" />
                        </div>
                        <div class="row">
                            <h6 class="row" id="{{this.id}}header1Text"> {{this.header1}} </h6>
                            <p class="row" id="{{this.id}}text1Text">
                                {{text1}}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <h6 class="row" id="{{this.id}}sideHead1Text"> {{this.sideHead}} </h6>
                            <p class="row" id="{{this.id}}sideText1Text"> {{this.sideText}} </p>
                        </div>
                    </div>
                </div>
            </div>
        </ul>
        <div class="row" id="update-div{{this.id}}">
            {{!-- update div generates here  --}}
        </div>
        {{/if}}

        {{#if isLayout3}}
        <ul class="row" id="layoutcon">
            <div class="row" id="layoutbtns">
                <p>ID: {{this.id}} - - - - - </p>
                <p>Category: - </p>
                <p id="{{this.id}}categoryText">{{this.category}}</p>
                <button class="delete-btn" data-id={{this.id}}>Delete<span></span></button>
                <button class="update-btn" data-id={{this.id}}
                    data-value="{{this.selectedLayout}}">Update<span></span></button>
                <h3 class="row" id="{{this.id}}titleText"> {{this.title}} </h3>
                <div class="row">
                    <h6 class="row" id="{{this.id}}header1Text"> {{this.header1}}</h6>
                    <div class="row">
                        <div class="col-md-3">
                            <img id="{{this.id}}img1Text" class="img1L2" src="{{this.img1}}" />
                        </div>
                        <div class="col-md-9">
                            <p id="{{this.id}}text1Text">{{this.text1}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <img id="{{this.id}}img2Text" class="img1L2" src="{{this.img2}}" />
                        </div>
                        <div class="col-md-9">
                            <p id="{{this.id}}text2Text">{{this.text2}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <img id="{{this.id}}img3Text" class="img1L2" src="{{this.img3}}" />
                        </div>
                        <div class="col-md-9">
                            <p id="{{this.id}}text3Text">{{this.text3}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </ul>
        <div class="row" id="update-div{{this.id}}">
            {{!-- update div generates here  --}}
        </div>
        {{/if}}

        {{#if isLayout4}}
        <ul class="row" id="layoutcon">
            <div class="row" id="layoutbtns">
                <p>ID: {{this.id}} - - - - - </p>
                <p>Cateory: - </p>
                <p id="{{this.id}}categoryText">{{this.category}}</p>
                <button class="delete-btn" data-id={{this.id}}>Delete</button>
                <button class="update-btn" data-id={{this.id}} data-value="{{this.selectedLayout}}">Update</button>
                <h3 class="row" id="{{this.id}}titleText"> {{this.title}} </h3>

                <div class="row">
                    <h6 class="row" id="{{this.id}}header1Text"> {{this.header1}} </h6>
                        <div class="row">
                            <div class="col-md-10">
                                <p class="row" id="{{this.id}}text1Text">
                                {{text1}}
                                </p>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <p class="row" id="{{this.id}}text2Text">
                                {{text2}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ul>
        <div class="row" id="update-div{{this.id}}">
            {{!-- update div generates here  --}}
        </div>
        {{/if}}
        {{/each}}

    </div>