<div class="row">
    <h1> Welcome to your Blog! </h1>
    <a href="/post"><button type="button" class="btn btn-secondary">Create Post</button></a>
    <div class="dropdown">
      
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Category</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Category1</a>
            <a class="dropdown-item" href="#">Category2</a>
            <a class="dropdown-item" href="#">Category3</a>
        </div>
    </div>
</div>


<div class="container">
    {{#each Layout1Post}}
    <div class='row' id='title'>
        <h1>{{title}}</h1>
    </div>
    <div class="row">
        <div class='col-md-5' id='layout1-textbox1'>
            <h2>{{header1}}</h2>
            <p>{{text1}}</p>
        </div>
        <div class='col-md-5' id='layout1-img1'>
            <img src={{img1}}>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-5'id='layout1-img2'>
            <img src={{img2}}>
        </div>
        <div class='col-md-5' id='layout1-textbox2'>
             <h2>{{header2}}</h2>
            <p>{{text2}}</p>
        </div>
    </div>
    <div class='row'>
        <p id='category'>
            {{category}}
        </p>
    </div>
    {{/each}}
</div>